<% if @profile.show_gravatar %>
    <div class="controls">
      <%= gravatar_image_tag( @profile.user.email.gsub('spam', 'mdeering'), :alt => @profile.user.full_name, :gravatar => { :size => 100 })  %>
    </div>

<% else %>
    <% if @profile.avatar.file?  %>
        <div class="controls">
          <%= image_tag @profile.avatar.url(:medium), :alt => @profile.user.full_name %>
        </div>
        <br>
    <% else %>
        <div class="controls">
          <%= image_tag "default_user_pic.png", :alt => @profile.user.full_name, :class => "user_image"  %>
        </div>
        <br>
    <% end %>
<% end %>