<div class="row seccion wide" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <input class="TextField" id="milestone_project_id" name="project_id" size="30" type="hidden" value="<%= params[:Projectid] %>"/>
    <div class="seccion3 Separador">
      <h4 id="milestoneShow_Name"><%= @milestone.name %></h4>
      <h6 id="milestoneShow_Target_Date"><%= @milestone.target_date %></h6>
    </div>
    <hr>
</div>



