<!-- page header -->
<div class="page_header">
  <h1><%= t('admin.tabs.emails') %></h1>
</div>
<!--// page header -->

<div class="page_content" id="emails-content">

  <p> ACA VA EL FORM PARA EDITAR LAS VARIABLES </p>

</div>