<% content_for :title do   %>
    <%= "New Feedback" %>
<% end %>
Hello!
<br/>
A new feedback has been added to project
<%= link_to "#{@project.name}", change_profile_project_url(@project) %>
<p>Since you manage this project, we automatically notify you whenever new postings are made.
    <br/>
    To unsubscribe: Visit the <%= link_to "My Account", edit_profile_url %> page and choose your notification settings.
</p>
<p>
    Have a great day,
    <br/>
    The Moove-iT Team
</p>

