<!-- page header -->
<div class="page_header">
  <h1><%= t('admin.tabs.edit_client') %></h1>

  <div class="destroy_link">
    <% if @client.projects.count == 0 %>
          <i class="icon-minus icon-white"></i>
          <%= link_to t('client.delete_client'), @client, :method => :delete, :remote => true,
                      :confirm => t('client.eliminate_confirm') %>
    <% end %>
  </div>

</div>
<!--// page header

<!-- page contents -->
<div class="page_content" id="edit_client_data">
  <%= render 'form' %>
</div>
<!--// page contents -->



