<!-- page header -->
<div class="page_header">
  <h1><%= t('admin.tabs.new_client') %></h1>
</div>
<!--// page header -->

<!-- page contents -->
<div class="page_content" id="add_client_data">
  <%= render 'form' %>
</div>
<!-- page contents -->
