<div class="footer">
  <a rel="popover" data-placement="top"
     class="btn-link"
     data-html="true"
     data-trigger="hover"
     data-content="<span>Creating ideas</span><br/><i><a href='http://www.moove-it.com' target='_blank'>www.moove-it.com</a></i>"
     data-original-title="<img class='logoMini' src='assets/mooveitLogo-mini.png'/>">
     Moove-It</a>
  <%= t('home.Footer_description')%>
</div>