<!-- page header -->
<div class="page_header">
  <h1><%= t('admin.tabs.edit_project') %></h1>

  <div class="destroy_link">
      <i class="icon-minus icon-white"></i>
      <%= link_to t('admin.tabs.delete_project'), @project, :method => :delete, :remote => true,
                  confirm: t('project.eliminate_confirm') %>
  </div>

</div>
<!--// page header -->

<!-- page contents -->
<div id="edit_project">
    <div class="page_content" id="edit-project-content">

        <%= render 'form' %>

    </div>
</div>
<!--// page contents -->