<!-- page header -->
<div class="page_header">
  <h1><%= t('admin.tabs.edit_project') %></h1>

  <div class="add_element">
    <button class="btn btn-link delete-btn">
      <i class="icon-minus icon-white"></i>
      <%= link_to t('admin.tabs.delete_project'), @project, method: :delete, remote: true,
                  confirm: t('project.eliminate_confirm') %>
    </button>
  </div>

</div>
<!--// page header -->

<!-- page contents -->
<div class="page_content" id="edit-project-content">

  <%= render 'form' %>

</div>
<!--// page contents -->