<!-- page header -->
<div class="page_header">
  <h1><%= t('admin.tabs.new_project') %></h1>
</div>
<!--// page header -->

<!-- page contents -->
<div class="page_content" id="new-project-content">

  <%= render 'form' %>

</div>
<!--// page contents -->