<h4>Description</h4>

<p> <%= @view[:project].description %>  </p>

<hr>

<h4>Changes in mood</h4>
<br/>

<div class="mood-graph">
  <%= image_tag @view[:graph] %>
</div>
<br/>
<hr>

<h4>Milestones</h4>

<% @view[:project].milestones.each do |mile| %>
    <p> <%= "#{mile.target_date} #{mile.name}" %></p>
<% end %>