<div id="feedback_edit">
  <div class="margin4 alert jCounterDefault countdown2">
    Remaining time for editing:
    <span class="minutes">00</span>
    minutes and
    <span class="seconds">00</span>
    seconds
  </div>
  <%= render 'form' %>

<script>
    $(".countdown2").jCounter({
        format: "mm:ss",
        twoDigits: 'on',
        customDuration: <%= @feedback.remaining_time %>,
        fallback: function() {
            window.location.reload()
        }
    });
</script>
</div>