<h1>Listing feedbacks</h1>

<table>
  <!-- <tr>
    <th>Asunto</th>
    <th>Contenido</th>
    <th>Feedback type</th>
    <th>Project</th>
    <th>Comentario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>-->

  <table>
    <% @feedbacks.each do |feedback| %>

        <tr>
          <div class="seccion2">
              <%= image_tag(   FeedbackType.find(feedback.feedback_type_id).name + ".png", :alt => "Moove-It",:class => "ImgFeedback") %>
              <a href="feedbacks/<%= feedback.id %>" class="fill-div"> </a>
                <h5 class="fechaFeedback" >03/09/2012</h5>
                <h4 class="show_Asunto"><%= feedback.asunto %></h4>
                <h6 >Ultimo comentario echo por mauro@mooveit , 06 de agosto 2012</h6>
          </div>
        </tr>

    <% end %>
  </table>







<%= link_to 'New Feedback', new_feedback_path %>