<div class="feedback_show">

  <h4 class="feedback_subject"><%= strip_tags(@feedback.subject) %></h4>

  <h6 class="feedback_date"><%= t('feedback.create_by')+ " " + @feedback.user.full_name + " "+t('feedback.date_on')+"   "+t("date."+"#{@feedback.created_at.strftime("%A")}")+ @feedback.created_at.strftime(" %d ")+  t("date."+"#{@feedback.created_at.strftime("%B")}") +@feedback.created_at.strftime(" %Y")  + @feedback.created_at.strftime(" ,  %H:%M") %></h6>

  <pre class="feedback_content"><%= @feedback.content.html_safe %></pre>
  <hr class="feedback_division">

  <%= render template: "comments/index" %>
</div>