<!-- page header -->
<div class="page_header">
  <h1><%= t('form.add_form') %></h1>

  <div class="loading-gif">
    <%= image_tag("ajax-loader.gif") %>
  </div>

</div>
<!--// page header -->

<!-- page contents -->
<div class="page_content" id="new-form-content">


<%= render 'form' %>

</div>
<!--// page contents -->
