// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ============== [ SIDEBAR ] ============== */

#global_nav li {
  font-size: 12px;
}

#global_nav ul {
  list-style: none outside none;
}

#global_nav a {
  background: image-url("iconos-cliente.png") no-repeat scroll 8px 4px transparent;
  display: block;
  font-size: 13px;
  line-height: 35px;
  overflow: hidden;
  padding: 0 6px 0 40px;
  text-decoration: none;
}

#global_nav a:hover, #global_nav a:visited {
  background-color: #F8F8F8;
  color: #333333;
}

#global_nav li.active a:hover, #global_nav li.active a:visited{
  background-color: #EBEBEB;
  color: #000000;
}

#global_nav li.active{
  background-color: #EBEBEB;
  color: #000000;
  font-weight: bold;
}

#global_nav li.summary.active a {
  background-position: 8px -38px;
}

#global_nav li.reports a {
  background-position: 8px -80px;
}

#global_nav li.reports.active a {
  background-position: 8px -122px;
}

#global_nav li.projects a {
  background-position: 8px -80px;
}

#global_nav li.projects.active a {
  background-position: 8px -122px;
}

#global_nav li.users a {
  background-position: 8px -80px;
}

#global_nav li.users.active a {
  background-position: 8px -122px;
}

#global_nav li.clients a {
  background-position: 8px -80px;
}

#global_nav li.clients.active a {
  background-position: 8px -122px;
}

#global_nav li.forms a {
  background-position: 8px -80px;
}

#global_nav li.forms.active a {
  background-position: 8px -122px;
}

/* ============== [ PAGE ] ============== */

#page
{
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 500px;
  padding: 0 0 30px;
  position: relative;
}

.page_content
{
  padding: 15px 30px;
}


.page_header {
  background: none repeat scroll 0 0 #FFF8EC;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  height: 40px;
  text-align: center;
}

.page_header .add_element
{
  margin-top: 4px;
  float: right;
}

.page_header h1 {
  float: left;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

/* =============== [ SUMMARY TAB ]===================== */

.summary_page_header{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.7, whiteSmoke), color-stop(1, #E7E7E7));;
  background: -moz-linear-gradient(center top , #F5F5F5 70%, #E7E7E7 100%) repeat scroll 0 0 transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 10%;
  padding-left: 3%;
}

.summary_page_header .title{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 7%;

}

.summary_page_tab_nav{
  margin-bottom: 0;
}

.activities_table {
  width: 100%;

  tr > td {
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid #EEEEEE;
  }

  .avatar {
    width: 8%;
  }
}

.activities_table .avatar .activity_image {
  max-height: 100px;
  width: 100%;
}

.activities_table .activity_info {
  padding-left: 2%;

  .activity_action{
    text-decoration: underline;
    color: inherit;
    font-weight: bold;
  }

  .activity_date{
    font-weight: normal;
    margin-top: 0;
  }

  .activity_content{

  }

}

.activities_filter_element{
  display: inline;
}

.hr_activities_table{
  margin-bottom: 0;
}

.project_datepicker_element {
  display: inline;
  width: 100px;
}

/* ================== [ FORMS TAB ] =============== */

.show-form-link{
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
  color: rgb(51, 51, 51);
  text-align: left;
}

.show-form-name{
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
  color: rgb(51, 51, 51);
  text-align: left;
}

#btn_full_data{
  visibility:hidden;
}

.form_filter_subject{
  display:inline;
}

.loading-gif{
  visibility: hidden;
  display: inline;
}

/* ================== [ CLIENTS TAB ] =============== */

#client_name{
  text-decoration: underline;
}

.client_div{

}
.client-resume
{
  font-size: 9px;
  margin: 0px;
}

.client_filter_subject{
  display:inline;
}


/* =============== [ REPORTS TAB ]===================== */

.bar-graph{
  text-align: center;
}

.pie-graph{
  text-align: center;
}

.forms-graphs{
  text-align: center;
}

/* =============== [ PROJECTS TAB ]===================== */

.show-project-link{
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
  color: rgb(51, 51, 51);
  text-align: left;
}

.show-project-name{
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
  color: rgb(51, 51, 51);
  text-align: left;
}

/* ================== [ USERS TAB ] =============== */

.name-filter
{
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.user-name
{
  vertical-align: top;
  display: inline-block;
  width: 80%;
}

.users-avatar
{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
}

.show-user-link
{
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
}

.user-role
{
  font-weight: normal;
  margin: 0px;
}

.user-comment
{
  font-size: 12px;
  margin-bottom: 1px;
}

.user-comment-date
{
  font-size: 11px;
  margin: 0px;
  font-weight: bold;
}

.show-user-name
{
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 4px;
}

.label-check
{
  padding-top: 5px;
}

.delete-btn
{
  color: rgba(36, 31, 36, 0.8);
}

.user_image{
  max-height: 100px;
}