/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require cleditor/cleditor
 *= require bootstrap_and_overrides
 *= require datepicker
 */


#global-wrapper
{

}

#header
{
    background: url("header_bg.png") repeat-x scroll left top transparent;
}

#header #logo
{
    background: url("moove-it.png");
    display: block;
    float: left;
    height: 135px;
    width: 220px;
}


#content
{
    color: #323232
}

#content a {

    color: #323232
}



