// Place all the styles related to the Feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/






#feedback_tipoFeedback{
  margin-top: 6px;

}

.Etiqueta{
  float: left;
  margin-right:5%;
  margin-top: 5px;
  margin-left: 10px
}

.estilotextarea {
  width:90%;
  height:200px;
  border: 0.5px solid #000000;
  resize: none;
  margin-left: 5%;

}
.TextAreaComent{
  width:97%;
  height:50px;
  border: 0.5px solid #000000;
  resize: none;
  margin-left: 1%;
}
.feedback_feedback_type{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.seccion {
  color: rgba(0, 0, 0, 0.99);
  background: rgba(62, 69, 255, 0);


}

#feedback_asunto{
  background-color:#f0f0f0;
  border:1px solid #dbdbdb;
  padding:5px;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  color: #000;
  font-style:italic;
  font-weight:bold;
  margin-left: 63px;
}
.wide{
  width:100%;
  height: 100%;



}
.margin{
  width: 100%;

  margin-top: 10px;

}
.margin1{
  margin-left: 1%;
  margin-top: -2%;
}

.margin2{
  border-bottom-width: 2px;

  border-bottom-style: solid;

}

.margin3{
  margin-top: 5px;
}

.margin4{
  margin-top: 10px;
}



.seccion2 {
  color:#fff;
  background: rgba(255, 241, 187, 0);

  height: 150px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 15px 55px 15px 55px;
  -moz-border-radius: 15px 55px 15px 55px;
}
.seccion3 {
  position: relative;
  background: rgba(255, 241, 187, 0);


}


.seccionComent{
               position: relative;
  background: rgba(255, 0, 0, 0);
  height: 100px;
  margin: auto;



}





.scroll {
  height:480px;
  width: 100%;
  overflow:auto;

}

.show_Asunto{
  float: left;
  position: absolute;
  text-decoration: underline;
  margin-top: 2%;
  margin-left: 16%;


}


.show_Coment{
  float: left;
  position: absolute;
  margin-top: 1%;
  margin-left: 9%;


}


.show_Asunto2{

  position: absolute;
  text-decoration: underline;
  margin-top: 1%;
  margin-left: 1%;


}

.scroll2{
  height:100px;
  width: 80%;
  overflow:auto;
  background: #bcc6c6;
  margin-left: 10%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration-color: #000000;
  border-color: #1219aa;
  border-width: 0.5px;
  border-style: solid;


}
.sinscroll {
  height:480px;
  border-color: #0f94aa;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}



.ImgCaritaCliente{
  height:40%;
  margin: auto;
  width: 48%;
  margin-left: 28%;
  margin-top: 3%;

}
.fechaFeedback{

  position: absolute;
  margin-top: 5%;
  margin-left: 16%;

}
.fechaComment{

  position: absolute;
  margin-top: 6%;
  margin-left: 9%;

}

.fechaFeedback2{

  position: absolute;
  margin-top: 3.5%;
  margin-left: 1%;

}

.ImgFeedback{
  height:100px;
  width: 100px;
  position: absolute;
  float: left;
  margin-left: 2%;
  margin-top: 2%;


}

.ImgAvatComen{
  height:60px;
  width: 60px;
  position: absolute;
  float: left;
  margin-left: 1%;
  margin-top: 1%;
}
.Contenido{
  position: absolute;

  margin-top: 8%;
  width: 78%;
  margin-left: 16%;

}

.SubjectText{
        margin-left: 7.6%;
  }
.Contenido2{


  position: absolute;
  margin-top: 7%;
  width: 98%;
  margin-left: 1%;
  text-align: justify;

}
.marginTop1{
  margin-top: 2%;
}

.top1{
  margin-top: 0.2%;
  margin-right: 2%;
}
.Contenido3{
  position: relative;
  margin-top: 7%;
  width: 99%;
  margin-left: 1%;
  text-align: justify;
  visibility: hidden;

}

.Separador{
  position: absolute;
  border-bottom: solid;
  border-bottom-width: 0.5px;
  margin-top:5%;
  position: relative;
}

.ultimoCometario{

  position: absolute;


  margin-top: 14%;
  margin-left: 16%;

}

a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

a.fill-div:hover {
  background: #b1b59e;
}

