// Place all the styles related to the Feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/







.seccion2 {
  color:#fff;
  background: rgba(255, 241, 187, 0);

  height: 150px;
  width: 80%;
  margin: auto;
  border-radius: 15px 55px 15px 55px;
  -moz-border-radius: 15px 55px 15px 55px;
}
.scroll {
  height:480px;
  width: 100%;
  overflow:auto;

}

.show_Asunto{
  float: left;

  text-decoration: underline;
  margin-top: 3%;
  margin-left: 2%;


}

.scroll2{
  height:100px;
  width: 80%;
  overflow:auto;
  background: #bcc6c6;
  margin-left: 10%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration-color: #000000;
  border-color: #1219aa;
  border-width: 0.5px;
  border-style: solid;


}
.sinscroll {
  height:480px;
  border-color: #0f94aa;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}



.ImgCaritaCliente{
  height:40%;
  margin: auto;
  width: 48%;
  margin-left: 28%;
  margin-top: 3%;

}
.fechaFeedback{

  position: absolute;
  margin-top: 5%;
  margin-left: 16%;

}
.ImgFeedback{
  height:100px;
  width: 100px;
  position: relative;
  float: left;
  margin-left: 2%;
  margin-top: 3%;


}

.ultimoCometario{

  position: relative;
  float: left;
  margin-top: 10%;
  margin-left: 2%;

}

a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  border-radius: 15px 55px 15px 55px;
  -moz-border-radius: 15px 55px 15px 55px;
}

a.fill-div:hover {
  background: #b1b59e;
}

