// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.project_description {

}

.current-mood p
{
  margin-right: 15px;
}

#global_nav li.feedbacks.active a {
  background-position: 8px -38px;
}

#global_nav li.data a {
  background-position: 8px -80px;
}


#global_nav li.data.active a {
  background-position: 8px -122px;
}

.face-mood-state {
  text-align:  center;
}

.face-mood-state li {
  width: 20%;
  height: 20%;
}

.mood-graph {
  text-align: center;
}

