<table class="activities_table">
  <% @activities.each do |activity| %>
      <tr id="row_activity">

        <td class="avatar">
          <%= activity_avatar activity %>
        </td>

        <td class="activity_info">
          <h4 class="activity_action">
            <%= activity_action activity, :recent %>
          </h4>
          <h6 class="activity_date"><%= activity_date activity %></h6>
          <% content = activity_content activity %>
          <% if content.length > 0 %>
              <pre class="activity_content"><%= truncate(strip_tags(content), :length => 180) %></pre>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>